
<div class="col-md-8 center-block row">
    <div align="center" style="text-align: center">
      <h3>
        <% if @alumni_news_letters.previous_page %>
            <%= link_to "< Previous", params.merge(:page => @alumni_news_letters.previous_page) %>
        <% end %>
        News Letter <%= @alumni_news_letters.current_page %> of <%= @alumni_news_letters.total_pages %>
        <% if @alumni_news_letters.next_page %>
            <%= link_to "Next >", params.merge(:page => @alumni_news_letters.next_page) %>
        <% end %>
      </h3>
  </div>
  <div class="card_alumni_newsletter">
<h1 style="text-align: center"><%=  @alumni_news_letters.first.released_date.strftime("%B %Y") %></h1>

    <iframe src="http://us6.campaign-archive2.com/?u=ce08ce712bbaafa93211ec048&id=ddea17ad6e&e=[UNIQID]" width="700rem" height="700rem"></iframe>
</div>
    </div>