
<div class="col-md-6 center-block row">
    <div align="center" style="text-align: center">
      <h3>
        <% if @alumni_news_letters.previous_page %>
            <%= link_to "< Previous", params.merge(:page => @alumni_news_letters.previous_page) %>
        <% end %>
        News Letter <%= @alumni_news_letters.current_page %> of <%= @alumni_news_letters.total_pages %>
        <% if @alumni_news_letters.next_page %>
            <%= link_to "Next >", params.merge(:page => @alumni_news_letters.next_page) %>
        <% end %>
      </h3>
  </div>
  <div class="card">
    <body style="background-color: #e8ad2e">
<h1 style="text-align: center"><%=  @alumni_news_letters.first.released_date.strftime("%B %Y") %></h1>

<div>
  <% @alumni_news_letters.reverse_each do |alumni_news_letter| %>
  <%= alumni_news_letter.news_letter_html.html_safe %>
<% end %>
</div>
</body>
</div>
    </div>