<li>
  <input type="checkbox" id="user<%= user.id %>">
  <label for="user<%= user.id %>">
          <span class="wrapper">
            <span class="image">
              <h3 class="postition-front-title"><%= user_name(user) %></h3>
              <%= image_tag "info.png", class: "postition-front-flip-icon" %>
              <%= image_tag profile_picture(user), class:"user_img contact_img" %>
            </span>
            <span class="back contact-back-background" >
              <h3>Account Info</h3>
              <h4><%= link_to user_name(user), user, style: 'color: #ffffff;' %></h4>
              <h3>Email</h3>
              <h4><%= mail_to email(user), nil, style: 'color: #ffffff;' %></h4>
            </span>
          </span>
  </label>
</li>