<li>
  <input type="checkbox" id="<%= position_type %><%= position.id %>">
  <label for="eboard<%= position.id %>">
          <span class="wrapper">
            <span class="image">
              <h3 class="postition-front-title">
                <!-- The title call is for national because we tech don't have a 2nd vp, makes sure we are in compliance with them-->
                <%= title(position.role.name) %>
              </h3>
              <%= image_tag "info.png", class: "postition-front-flip-icon" %>
              <%= image_tag profile_picture(position.user), class:"user_img contact_img" %>
            </span>
            <span class="back contact-back-background" >
              <h3><%= title(position.role.name) %></h3>
              <h4><%= link_to user_name(position.user), position.user, style: 'color: #ffffff;' %></h4>
              <h3>Email</h3>
              <h4><%= mail_to email(position.user), nil, style: 'color: #ffffff;' %></h4>
            </span>
          </span>
  </label>
</li>