<div class="row">
  <h2 style="text-align: center;">Executive Board</h2>
  <hr>
  <ul class="flipping-cards">
    <% @eboard.each do |position| %>
      <li>
        <input type="checkbox" id="item<%= position.position_name %><%= position.id %>">
        <label for="item<%= position.id %>">
          <span class="wrapper">
            <span class="image">
              <h3 class="postition-front-title">
                <%= title(position.role) %>
              </h3>
              <%= image_tag "info.png", class: "postition-front-flip-icon" %>
              <%= image_tag position.user.profile_picture_url, class:"user_img contact_img" if position.user.profile_picture? %>
            </span>
            <span class="back contact-back-background" >
              <h2>
                <%= title(position.role) %>
              </h2>
              <h3>
                <%= position.user.first_name if position.user.first_name? %> <%= " " + position.user.last_name if position.user.last_name? %>
              </h3>
              <h2>Email</h2>
              <h3>
                <%= mail_to position.user.email %>
              </h3>
            </span>
          </span>
        </label>
      </li>
    <% end %>
  </ul>
  <div style="float: none; clear:both;"> </div>

  <h2 style="text-align: center;">Chairs</h2>
  <hr>
  <ul class="flipping-cards">
    <% @chairs.each do |chair| %>
        <li>
          <input type="checkbox" id="item<%= position.chair_name %><%= chair.user.id %>">
          <label for="item<%= chair.user.id %>">
          <span class="wrapper">
            <span class="image">
              <h3 class="postition-front-title">
                <%= title(chair.chair_name) %>
              </h3>
              <%= image_tag "info.png", class: "postition-front-flip-icon" %>
              <%= image_tag chair.user.profile_picture_url, class:"user_img contact_img" if chair.user.profile_picture? %>
            </span>
            <span class="back contact-back-background" >
              <h2>
                <%= title(chair.chair_name) %>
              </h2>
              <h3>
                <%= chair.user.first_name if chair.user.first_name? %> <%= " " + chair.user.last_name if chair.user.last_name? %>
              </h3>
              <h2>Email</h2>
              <h3>
                <%= mail_to chair.user.email %>
              </h3>
            </span>
          </span>
          </label>
        </li>
    <% end %>
  </ul>
  <div class="clear"> </div>
</div>
