<% unless @posts.previous_page or @top_card.nil? %>
    <div class="col-xl-8 col-md-8 col-xs-12 col-xl-offset-2 col-md-offset-2 top-card-padding">
      <div class="card">
        <%= render 'static_pages/home_post', post: @top_card %>
      </div>
    </div>
<% end %>

<div class="col-xl-8 col-md-8 col-xs-12 col-xl-offset-2 col-md-offset-2">
  <div class="card">
    <% @posts.each do |post| %>
        <%= render 'static_pages/home_post', post: post %>
        <hr>
    <% end %>
  </div>
</div>
<div class="col-md-6 center-paginate">
  <div align="center">
    <h3>
      <% if @posts.previous_page %>
          <%= link_to "< Previous", params.merge(:page => @posts.previous_page) %>
      <% end %>
      Page <%= @posts.current_page %> of <%= @posts.total_pages %>
      <% if @posts.next_page %>
          <%= link_to "Next >", params.merge(:page => @posts.next_page) %>
      <% end %>
    </h3>
  </div>
</div>
<div class="clear"></div>
