<% if user_signed_in? and (current_user.role == nil or current_user.role == "not_a_member") %>
  <div>
    <%= form_for current_user  do |f| %>
      <%= f.text_field :first_name, :placeholder => "First Name" %>
      <%= f.text_field :last_name, :placeholder => "Last Name" %>
      <%= f.submit "Request to be a member" %>
    <% end %>
  </div>
<% end %>

<div class="card">
  <h1 style="text-align:center; text-decoration: underline;">50th Anniversary!</h1>
  <div style="float: left; width: 40%">
    <img src="https://www.rit.edu/alumni/news/story/PHT.jpg"></src>
  </div>
  <div style="float: right; width: 60%; padding-left: 20px;">
    <h2 style="color: #000000">Stop, Grab your calendar, and Save April 2nd 2016.</h2>

    <p>We are excited to be announcing our 50th Anniversy and are hoping to see you there!&nbsp;</p>

    <p>For more information about the 50th <%= link_to "click here!", gamma_nu_50th_anniversary_path %></p>
  </div>
  <div style="float: none; clear:both;"> </div>
</div>

<br>

<% @posts.reverse_each do |post| %>
  <div class="card">
    <h1 style="text-align:center; text-decoration: underline;"><%= post.title %></h1>
      <div style="float: left; width: 40%">
        <%= image_tag post.image_url if post.image? %>
      </div>
      <div style="float: right; width: 60%; padding-left: 20px;">
        <p><%= post.content.html_safe %></p>
      </div>
      <div style="float: none; clear:both;"> </div>
      <hr>
    </div>
<% end %>