<% if user_signed_in? and (current_user.role == nil or current_user.role == "not_a_member") %>
  <div>
    <%= form_for current_user do |f| %>
      <%= f.text_field :first_name, :placeholder => "First Name" %>
      <%= f.text_field :last_name, :placeholder => "Last Name" %>
      <%= f.hidden_field :role, :value => "requesting" %>
      <%= f.submit "Request to be a member" %>
    <% end %>
  </div>
<% end %>
<% @posts.reverse_each do |post| %>
  <div class="card">
    <h1 style="text-align:center; text-decoration: underline;"><%= post.title %></h1>
      <div style="float: left; width: 40%">
        <%= image_tag post.image_url if post.image? %>
      </div>
      <div style="float: right; width: 60%; padding-left: 20px;">
        <p><%= post.content.html_safe %></p>
      </div>
      <div style="float: none; clear:both;"> </div>
      <hr>
    </div>
<% end %>
