<div class="row">
  <% unless @posts.previous_page or @top_card.nil? %>
      <div class="col-md-8 col-md-offset-2 top-card-padding">
        <div class="card">
          <h1 class="card_header"><%= link_to @top_card.title, @top_card %></h1>
          <div class="img_div">
            <%= (link_to (image_tag get_link(@top_card)), get_img_path(@top_card), :class => "post_img") %>
            <% if get_gallery_path(@top_card) %>
                <h3 align="center"><%= link_to "Click Here for More #{@top_card.title} Pictures", get_gallery_path(@top_card)  %></h3>
            <% end %>
          </div>
          <div class="post_text">
            <%= raw @top_card.content %>
          </div>
          <div class="clear"> </div>
        </div>
      </div>
  <% end %>

  <div class="col-md-8 col-md-offset-2">
    <% @posts.each do |post| %>
        <div class="card">
          <h1 class="card_header"><%= link_to post.title, post %></h1>
          <div class="img_div">
            <%= (link_to (image_tag get_link(post)), get_img_path(post), :class => "post_img") %>
            <% if get_gallery_path(post) %>
                <h3 align="center"><%= link_to "Click Here for More #{post.title} Pictures", get_gallery_path(post)  %></h3>
            <% end %>
          </div>
          <div class="post_text">
            <%= raw post.content %>
          </div>
          <div class="clear"> </div>
          <hr>
        </div>
    <% end %>
  </div>
</div>
<div class="col-md-6 center-paginate">
  <div align="center">
    <h3>
      <% if @posts.previous_page %>
          <%= link_to "< Previous", params.merge(:page => @posts.previous_page) %>
      <% end %>
      Page <%= @posts.current_page %> of <%= @posts.total_pages %>
      <% if @posts.next_page %>
          <%= link_to "Next >", params.merge(:page => @posts.next_page) %>
      <% end %>
    </h3>
  </div>
</div>

<div class="clear"></div>