<div class="row">
  <div class="col-md-8 col-md-offset-2 top-card-padding">
    <div class="card_registration">
      <h1>Resources</h1>
      <hr>

        <% if current_user.have_permissions?('writer') %>
          <div class="resources col-sm-4">
            <h1>Writer</h1>
            <hr>
            <h3><%= link_to 'Create Posts', posts_path %></h3>
            <h3><%= link_to 'Create Alumni-News-Letters', new_alumni_news_letter_path %></h3>
          </div>
        <% end %>
        <% if  current_user.have_permissions?('admin') %>
          <div class="resources col-sm-4">
            <h2>Admin</h2>
            <h3><%= link_to 'Create Posts', posts_path %></h3>
            <h3><%= link_to 'Create Alumni-News-Letters', new_alumni_news_letter_path %></h3>
            <h3><%= link_to 'Update Positions', positions_path %></h3>
            <h3><%= link_to 'Update Roles', roles_path %></h3>
            <h3><%= link_to 'Edit All Users', 'users/all/edit' %></h3>
            <h3><%= link_to 'Community Service Logs', community_services_path %></h3>
            <h3><%= link_to 'Brothers Community Service', brothers_hours_path %></h3>
            <h3><%= link_to 'Manually Enter Community Service', community_service_manually_path, 'data-no-turbolink' => true %></h3>
          </div>
        <% end %>

        <% if  current_user.have_permissions?('community_service') %>
          <div class="resources col-sm-4">
            <h2>Community Service</h2>
            <h3><%= link_to 'Community Service Logs', community_services_path %></h3>
            <h3><%= link_to 'Brothers Community Service', brothers_hours_path %></h3>
            <h3><%= link_to 'Manually Enter Community Service', community_service_manually_path, 'data-no-turbolink' => true %></h3>
          </div>
        <% end %>

        <% if  current_user.have_permissions?('president') %>
          <div class="resources col-sm-4">
            <h2>President</h2>
            <h3><%= link_to 'Create Posts', posts_path%></h3>
            <h3><%= link_to 'Update Positions', positions_path %></h3>
          </div>
        <% end %>

        <% if current_user.confirmed_brother? %>
          <div class="resources col-sm-4">
            <h2>Brothers</h2>
            <h3><%= link_to 'View Alumni-News-Letters', alumni_news_letters_path %></h3>
            <h3><%= link_to 'Submit Receipt', new_receipt_path %></h3>
            <h3><%= link_to 'Submit Community Service', new_community_service_path %></h3>
          </div>
        <% end %>

      <div class="clear"></div>
    </div>
  </div>
</div>

