<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Meeting minutes:</strong>
  <%= @meeting.meeting_minutes %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
