<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @position.position_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @position.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @position.role_id %>
</p>

<p>
  <strong>On eboard:</strong>
  <%= @position.on_eboard %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
