<h1>Listing current_residences</h1>

<table>
  <thead>
    <tr>
      <th>Building name</th>
      <th>Map location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @current_residences.each do |current_residence| %>
      <tr>
        <td><%= current_residence.building_name %></td>
        <td><%= current_residence.map_location %></td>
        <td><%= link_to 'Show', current_residence %></td>
        <td><%= link_to 'Edit', edit_current_residence_path(current_residence) %></td>
        <td><%= link_to 'Destroy', current_residence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Current residence', new_current_residence_path %>
