<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h1>Yes</h1>
      <table class="yes-bids-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Where they live</th>
        </tr>
        </thead>

        <tbody>
        <% @yes_bids.each do |bid| %>
            <tr>
              <td><%= bid.rush_interview.user.name %></td>
              <td><%= bid.rush_interview.user.phone_number %></td>
              <td><%= bid.rush_interview.user.interview_questionnaires.last.room_number %> <%= bid.rush_interview.user.interview_questionnaires.last.current_address %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <h1>No</h1>
      <table class="bids-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        </thead>

        <tbody>
        <% @no_bids.each do |bid| %>
            <tr>
              <td><%= bid.rush_interview.user.name %></td>
              <td><%= bid.rush_interview.user.phone_number %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <h1>Deferred</h1>
      <table class="bids-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        </thead>

        <tbody>
        <% @deferred_bids.each do |bid| %>
            <tr>
              <td><%= bid.rush_interview.user.name %></td>
              <td><%= bid.rush_interview.user.phone_number %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


