<%= form_for :user, :url => update_all_path, :html => { :method => :put } do %>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
          <%= fields_for "user[]", user do |user_fields| %>
              <tr>
                <td><%= user_fields.text_field :first_name,:disabled => true %></td>
                <td><%= user_fields.text_field :last_name,:disabled => true %></td>
                <td><%= user_fields.collection_select :role, User::ALLROLES, :to_s, :to_s, :class => "col-md-3" %></td>
              </tr>
          <% end %>
      <% end %>
    </table>

    <div class="actions">
      <%= submit_tag %>
    </div>
<% end %>