<div class="row">
  <div class="col-md-8 col-md-offset-2 top-card-padding">
    <div class="card">
      <div id="page-wrap">
        <div align="center">

          <h2>Total Potentials: <%= @potentials.length %></h2>

          <%= search_form_for @search, url: potentials_path do |f| %>
              <div class="field">
                <%= f.text_field :first_name_cont, placeholder: 'Search by First Name'  %>
                <%= f.text_field :last_name_cont, placeholder: 'Search by Last Name'  %>
                <%= f.search_field :phone_number_cont, placeholder: 'Search by Phone Number' %>
                <%= f.search_field :email_cont, placeholder: 'Search by Email' %>
              </div>
              <div class="actions" style='display: inline;'>
                <%= f.submit "Search Potentials" %>
              </div>
              <div style='display: inline;'>
                <%= link_to 'Clear Search', potentials_path %>
              </div>
          <% end %>
        </div>

        <br>

        <table class="potentials-table">
          <thead>
          <tr>
            <th><%= sort_link @search, :first_name,'First Name' %></th>
            <th><%= sort_link @search, :last_name,'Last Name' %></th>
            <th><%= sort_link @search, :phone_number, 'Phone Number' %></th>
            <th><%= sort_link @search, :email, 'Email' %></th>
            <% if current_user.multiple_have_permissions?(['admin','president','recruitment'])%>
            <th></th>
                <% end %>
          </tr>
          </thead>
          <tbody>
          <% @potentials.each do |potential| %>
              <tr>
                <td><%= potential.first_name? ? potential.first_name : 'N/A' %></td>
                <td><%= potential.last_name? ? potential.last_name : 'N/A' %></td>
                <td><%= potential.phone_number? ? potential.phone_number : 'N/A' %></td>
                <td><%= potential.email? ? potential.email : 'N/A' %></td>
                <% if current_user.multiple_have_permissions?(['admin','president','recruitment'])%>
                    <td>
                  <%= link_to users_admin_path(potential), method: :delete, data: { confirm: "Are you sure that you want to remove this potential?" } do %>
                    <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                </td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<script>
    jQuery('.data-table').each(function() {
        var thetable=jQuery(this);
        jQuery(this).find('tbody td').each(function() {
            jQuery(this).attr('data-heading',thetable.find('thead th:nth-child('+(jQuery(this).index()+1)+')').text());
        });
    });
</script>