<div class="row">
  <div class="col-md-6 col-md-offset-3 top-card-padding">
    <div class="card">
      <h1 class="card_header">Your Info</h1>
      <div>
        <!--Users picture-->
        <%= image_tag profile_picture(@user), :class => "user_img" %>
      </div>

      <!--User info-->
      <div class="user_info">
        <p>Name: <%= first_name(@user) %> <%= last_name(@user)%></p>
        <p>Email: <%= email(@user) %></p>
        <p>Brotherhood Status: <%= user_status(@user) %></p>
        <p>Home Town: <%= home_town_and_state(@user) %></p>
        <p>Pledge Class: <%= pledge_class(@user) %></p>
        <p>Major: <%= major(@user) %></p>
        <p>Big Brother: <%= big_brother(@user) %></p>
        <!-- Keeps brothers personal numbers private to only brothers-->
        <% if current_user?(@user) || approved_brother? %>
            <p>Phone Number: <%= phone_number(@user) %></p>
            <p>Local Ritual Number: <%= ritual_number_local(@user) %></p>
            <p>National Ritual Number: <%= ritual_number_national(@user) %></p>
        <% end %>
        <% if current_user?(@user) || have_permissions?(['admin','president','first_vp','second_vp']) %>
            <p>Home Address: <%= home_address(@user) %></p>
            <p>Parents Contact Info: <%= parents_contact_info(@user) %></p>
        <% end %>
      </div>

      <!--makes sure everything stays on the card-->
      <div class="clear"> </div>

      <!-- Adds shows a link for members to sign up for alumni newsletters-->
      <% if on_mailing_list?(@user) && current_user?(@user) %>
          <div style="margin-top: 4rem; font-size: 1.7rem">
            <%= link_to "Sign Up For Alumni News Letter", subscribe_path %>
          </div>
      <% end %>

      <!-- Lets people change their profile, only if it them though-->
      <% if current_user?(@user) %>
          <div>
            <%= link_to "Edit Info", edit_user_path(@user), :class => "push_link_right" %>
          </div>
      <% end %>
      <br>
    </div>
  </div>
</div>