<%= form_for(@valentines_day_inventory) do |f| %>
  <% if @valentines_day_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valentines_day_inventory.errors.count, "error") %> prohibited this valentines_day_inventory from being saved:</h2>

      <ul>
      <% @valentines_day_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_red_flowers %><br>
    <%= f.number_field :total_red_flowers %>
  </div>
  <div class="field">
    <%= f.label :total_white_flowers %><br>
    <%= f.number_field :total_white_flowers %>
  </div>
  <div class="field">
    <%= f.label :total_pink_flowers %><br>
    <%= f.number_field :total_pink_flowers %>
  </div>
  <div class="field">
    <%= f.label :total_large_stuffed_animials %><br>
    <%= f.number_field :total_large_stuffed_animials %>
  </div>
  <div class="field">
    <%= f.label :total_medium_stuffed_animials %><br>
    <%= f.number_field :total_medium_stuffed_animials %>
  </div>
  <div class="field">
    <%= f.label :total_small_stuffed_animials %><br>
    <%= f.number_field :total_small_stuffed_animials %>
  </div>
  <div class="field">
    <%= f.label :red_flower_price %><br>
    <%= f.text_field :red_flower_price %>
  </div>
  <div class="field">
    <%= f.label :white_flower_price %><br>
    <%= f.text_field :white_flower_price %>
  </div>
  <div class="field">
    <%= f.label :pink_flower_price %><br>
    <%= f.text_field :pink_flower_price %>
  </div>
  <div class="field">
    <%= f.label :large_stuffed_animial_price %><br>
    <%= f.text_field :large_stuffed_animial_price %>
  </div>
  <div class="field">
    <%= f.label :medium_stuffed_animial_price %><br>
    <%= f.text_field :medium_stuffed_animial_price %>
  </div>
  <div class="field">
    <%= f.label :small_stuffed_animial_price %><br>
    <%= f.text_field :small_stuffed_animial_price %>
  </div>
  <div class="field">
    <%= f.label :current_year %><br>
    <%= f.text_field :current_year %>
  </div>
  <div class="field">
    <%= f.label :red_total %><br>
    <%= f.number_field :red_total %>
  </div>
  <div class="field">
    <%= f.label :white_total %><br>
    <%= f.number_field :white_total %>
  </div>
  <div class="field">
    <%= f.label :pink_total %><br>
    <%= f.number_field :pink_total %>
  </div>
  <div class="field">
    <%= f.label :large_total %><br>
    <%= f.number_field :large_total %>
  </div>
  <div class="field">
    <%= f.label :medium_total %><br>
    <%= f.number_field :medium_total %>
  </div>
  <div class="field">
    <%= f.label :small_total %><br>
    <%= f.number_field :small_total %>
  </div>
  <div class="field">
    <%= f.label :total_raised %><br>
    <%= f.text_field :total_raised %>
  </div>
  <div class="field">
    <%= f.label :total_cost %><br>
    <%= f.text_field :total_cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
