<p id="notice"><%= notice %></p>

<p>
  <strong>Total red flowers:</strong>
  <%= @valentines_day_inventory.total_red_flowers %>
</p>

<p>
  <strong>Total white flowers:</strong>
  <%= @valentines_day_inventory.total_white_flowers %>
</p>

<p>
  <strong>Total pink flowers:</strong>
  <%= @valentines_day_inventory.total_pink_flowers %>
</p>

<p>
  <strong>Total large stuffed animials:</strong>
  <%= @valentines_day_inventory.total_large_stuffed_animials %>
</p>

<p>
  <strong>Total medium stuffed animials:</strong>
  <%= @valentines_day_inventory.total_medium_stuffed_animials %>
</p>

<p>
  <strong>Total small stuffed animials:</strong>
  <%= @valentines_day_inventory.total_small_stuffed_animials %>
</p>

<p>
  <strong>Red flower price:</strong>
  <%= @valentines_day_inventory.red_flower_price %>
</p>

<p>
  <strong>White flower price:</strong>
  <%= @valentines_day_inventory.white_flower_price %>
</p>

<p>
  <strong>Pink flower price:</strong>
  <%= @valentines_day_inventory.pink_flower_price %>
</p>

<p>
  <strong>Large stuffed animial price:</strong>
  <%= @valentines_day_inventory.large_stuffed_animial_price %>
</p>

<p>
  <strong>Medium stuffed animial price:</strong>
  <%= @valentines_day_inventory.medium_stuffed_animial_price %>
</p>

<p>
  <strong>Small stuffed animial price:</strong>
  <%= @valentines_day_inventory.small_stuffed_animial_price %>
</p>

<p>
  <strong>Current year:</strong>
  <%= @valentines_day_inventory.current_year %>
</p>

<p>
  <strong>Red total:</strong>
  <%= @valentines_day_inventory.red_total %>
</p>

<p>
  <strong>White total:</strong>
  <%= @valentines_day_inventory.white_total %>
</p>

<p>
  <strong>Pink total:</strong>
  <%= @valentines_day_inventory.pink_total %>
</p>

<p>
  <strong>Large total:</strong>
  <%= @valentines_day_inventory.large_total %>
</p>

<p>
  <strong>Medium total:</strong>
  <%= @valentines_day_inventory.medium_total %>
</p>

<p>
  <strong>Small total:</strong>
  <%= @valentines_day_inventory.small_total %>
</p>

<p>
  <strong>Total raised:</strong>
  <%= @valentines_day_inventory.total_raised %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @valentines_day_inventory.total_cost %>
</p>

<%= link_to 'Edit', edit_valentines_day_inventory_path(@valentines_day_inventory) %> |
<%= link_to 'Back', valentines_day_inventories_path %>
