<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="card">
        <div>
          <div style='text-align: center;'>
            <h2>
              <%= link_to "#{interview_name(@rush_interview)}", user_path(@rush_interview.user) %>
              <%= nickname(@rush_interview.user.interview_questionnaires.last) %>
            </h2>
          </div>
          <div class="col-md-4 col-xs-12">
            <div>
              <%= image_tag potentials_picture(@rush_interview), :class => "potential_img" %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <% if filled_out_questionnare? %>
                <%= render 'first_column', interview_questionnaire: @rush_interview.user.interview_questionnaires.last %>
            <% end %>
          </div>
          <div class="col-md-4 col-xs-12">
            <% if filled_out_questionnare? %>
                <%= render 'second_column', interview_questionnaire: @rush_interview.user.interview_questionnaires.last %>
            <% end %>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
        <% if current_user.multiple_have_permissions?(['admin','president','recruitment']) %>
            <%= render 'add_photo', interview: @rush_interview %>
        <% end %>
        <% if current_user.multiple_have_permissions?(['admin','president','recruitment']) %>
            <%= render 'change_bid_status', interview: @rush_interview %>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>