<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="card">
        <div>
          <div style='text-align: center;'>
            <h2>
              <%= link_to "#{interview_name}", user_path(@rush_interview.user) %>
              <%= nickname %>
            </h2>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="img_div">
              <%= image_tag potentials_picture, :class => "contact_img" %>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <% if filled_out_questionnare? %>
                <div>
                  <p style="margin: 0;">GPA:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.grade_point_average %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.grade_point_average %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Major:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.major %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.major %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Events Attended Total:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.rush_events_attended %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.rush_events_attended.split(',').length %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Brothers Known Total:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.brothers_you_know %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.brothers_you_know.split(',').length %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Reason for rushing:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.reason_for_rushing %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.reason_for_rushing %></h3>
                  <% end %>
                </div>
            <% end %>
          </div>
          <div class="col-md-4 col-xs-12">
            <% if filled_out_questionnare? %>
                <div>
                  <p style="margin: 0";>Home Town:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.hometown %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.hometown %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Where they live:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.room_number && @rush_interview.user.interview_questionnaires.last.current_address %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.room_number %> <%= @rush_interview.user.interview_questionnaires.last.current_address %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Involvement</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.outside_activities %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.outside_activities %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Hobbies:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.hobbies %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.hobbies %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Events Attended:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.rush_events_attended %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.rush_events_attended %></h3>
                  <% end %>
                </div>
                <div>
                  <p style="margin: 0;">Brothers Known:</p>
                </div>
                <div>
                  <% if @rush_interview.user.interview_questionnaires.last.brothers_you_know %>
                      <h3 style="margin: 0; padding-left: 15px;"><%= @rush_interview.user.interview_questionnaires.last.brothers_you_know %></h3>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>