<%= form_for(@interview_questionnaire) do |f| %>
  <% if @interview_questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview_questionnaire.errors.count, "error") %> prohibited this interview_questionnaire from being saved:</h2>

      <ul>
      <% @interview_questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rush_interview %><br>
    <%= f.text_field :rush_interview %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :hometown %><br>
    <%= f.text_field :hometown %>
  </div>
  <div class="field">
    <%= f.label :current_address %><br>
    <%= f.text_field :current_address %>
  </div>
  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.text_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :grade_point_average %><br>
    <%= f.text_field :grade_point_average %>
  </div>
  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <%= f.label :year_in_school %><br>
    <%= f.number_field :year_in_school %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :outside_activities %><br>
    <%= f.text_area :outside_activities %>
  </div>
  <div class="field">
    <%= f.label :hobbies %><br>
    <%= f.text_area :hobbies %>
  </div>
  <div class="field">
    <%= f.label :brothers_you_know %><br>
    <%= f.text_area :brothers_you_know %>
  </div>
  <div class="field">
    <%= f.label :rush_events_attended %><br>
    <%= f.text_field :rush_events_attended %>
  </div>
  <div class="field">
    <%= f.label :reason_for_rushing %><br>
    <%= f.text_area :reason_for_rushing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
