<h1>Total Questionnaires: <%= @interview_questionnaires.length %></h1>

<table class="interview-questionare-table">
  <thead>
  <tr>
    <th>Potential</th>
    <th>Date of birth</th>
    <th>Hometown</th>
    <th>Current address</th>
    <th>Room number</th>
    <th>Grade point average</th>
    <th>Major</th>
    <th>Year in school</th>
    <th>Nickname</th>
    <th>Outside activities</th>
    <th>Hobbies</th>
    <th>Brothers you know</th>
    <th>Rush events attended</th>
    <th>Reason for rushing</th>
    <% if current_user.multiple_have_permissions?(['admin','president','recruitment'])%>
        <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @interview_questionnaires.each do |interview_questionnaire| %>
      <tr>
        <td><%= interview_questionnaire.user.name unless interview_questionnaire.user.nil? || interview_questionnaire.user.name.nil? %></td>
        <td><%= interview_questionnaire.date_of_birth unless interview_questionnaire.date_of_birth.nil? %></td>
        <td><%= interview_questionnaire.hometown unless interview_questionnaire.hometown.nil? %></td>
        <td><%= interview_questionnaire.current_address unless interview_questionnaire.current_address.nil? %></td>
        <td><%= interview_questionnaire.room_number unless interview_questionnaire.room_number.nil? %></td>
        <td><%= interview_questionnaire.grade_point_average unless interview_questionnaire.grade_point_average.nil? %></td>
        <td><%= interview_questionnaire.major unless interview_questionnaire.major.nil? %></td>
        <td><%= interview_questionnaire.year_in_school unless interview_questionnaire.year_in_school.nil? %></td>
        <td><%= interview_questionnaire.nickname unless interview_questionnaire.nickname.nil? %></td>
        <td><%= interview_questionnaire.outside_activities unless interview_questionnaire.outside_activities.nil? %></td>
        <td><%= interview_questionnaire.hobbies unless interview_questionnaire.hobbies.nil? %></td>
        <td><%= interview_questionnaire.brothers_you_know unless interview_questionnaire.brothers_you_know.nil? %></td>
        <td><%= interview_questionnaire.rush_events_attended unless interview_questionnaire.rush_events_attended.nil? %></td>
        <td><%= interview_questionnaire.reason_for_rushing unless interview_questionnaire.reason_for_rushing.nil? %></td>
        <% if current_user.multiple_have_permissions?(['admin','president','recruitment'])%>
            <td>
              <%= link_to interview_questionnaire, method: :delete, data: { confirm: "Are you sure that you want to remove this questionnaire?" } do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  </td>
              <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
