<p id="notice"><%= notice %></p>

<p>
  <strong>Rush interview:</strong>
  <%= @interview_questionnaire.rush_interview %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @interview_questionnaire.date_of_birth %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @interview_questionnaire.hometown %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @interview_questionnaire.current_address %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @interview_questionnaire.room_number %>
</p>

<p>
  <strong>Grade point average:</strong>
  <%= @interview_questionnaire.grade_point_average %>
</p>

<p>
  <strong>Major:</strong>
  <%= @interview_questionnaire.major %>
</p>

<p>
  <strong>Year in school:</strong>
  <%= @interview_questionnaire.year_in_school %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @interview_questionnaire.nickname %>
</p>

<p>
  <strong>Outside activities:</strong>
  <%= @interview_questionnaire.outside_activities %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @interview_questionnaire.hobbies %>
</p>

<p>
  <strong>Brothers you know:</strong>
  <%= @interview_questionnaire.brothers_you_know %>
</p>

<p>
  <strong>Rush events attended:</strong>
  <%= @interview_questionnaire.rush_events_attended %>
</p>

<p>
  <strong>Reason for rushing:</strong>
  <%= @interview_questionnaire.reason_for_rushing %>
</p>

<%= link_to 'Edit', edit_interview_questionnaire_path(@interview_questionnaire) %> |
<%= link_to 'Back', interview_questionnaires_path %>
