<div class="row">
  <div class="col-md-10 col-md-offset-1 top-card-padding">
    <div class="card">
      <div class="posts_checkboxes">
        <h1 align="center">Community Services Hours For Brother <%= "#{@user.first_name} #{@user.last_name}" %><% %></h1>

        <table class="brothers-events-table">
          <thead>
          <tr>
            <th>Service Hours</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Event Link</th>
            <th>Edit</th>
          </tr>
          </thead>

          <tbody>
          <% @user.community_services.each do |community_service| %>
              <tr>
                <td><%= community_service.hours_volunteered %></td>
                <td><%= community_service.event_name %></td>
                <td><%= community_service.date_of_event %></td>
                <td><%= link_to community_service.link_to_event, community_service.link_to_event %></td>
                <td><%= link_to 'Edit', edit_community_service_path(community_service) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Community service', new_community_service_path %>
      </div>
    </div>
  </div>
</div>