<p id="notice"><%= notice %></p>

<p>
  <strong>Red flower quantity:</strong>
  <%= @valentines_day_delievery.red_flower_quantity %>
</p>

<p>
  <strong>White flower quantity:</strong>
  <%= @valentines_day_delievery.white_flower_quantity %>
</p>

<p>
  <strong>Pink flower quantity:</strong>
  <%= @valentines_day_delievery.pink_flower_quantity %>
</p>

<p>
  <strong>Large stuffed animial quantity:</strong>
  <%= @valentines_day_delievery.large_stuffed_animial_quantity %>
</p>

<p>
  <strong>Medium stuffed animial quantity:</strong>
  <%= @valentines_day_delievery.medium_stuffed_animial_quantity %>
</p>

<p>
  <strong>Small animial quantity:</strong>
  <%= @valentines_day_delievery.small_animial_quantity %>
</p>

<p>
  <strong>Buyer name:</strong>
  <%= @valentines_day_delievery.buyer_name %>
</p>

<p>
  <strong>Buyer phone number:</strong>
  <%= @valentines_day_delievery.buyer_phone_number %>
</p>

<p>
  <strong>Recievers name:</strong>
  <%= @valentines_day_delievery.recievers_name %>
</p>

<p>
  <strong>Recievers phone number:</strong>
  <%= @valentines_day_delievery.recievers_phone_number %>
</p>

<p>
  <strong>Delivery location:</strong>
  <%= @valentines_day_delievery.delivery_location %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @valentines_day_delievery.delivery_time %>
</p>

<p>
  <strong>Delivery instructions:</strong>
  <%= @valentines_day_delievery.delivery_instructions %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @valentines_day_delievery.payment %>
</p>

<p>
  <strong>Paypal cost:</strong>
  <%= @valentines_day_delievery.paypal_cost %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @valentines_day_delievery.total_price %>
</p>

<%= link_to 'Edit', edit_valentines_day_delievery_path(@valentines_day_delievery) %> |
<%= link_to 'Back', valentines_day_delieveries_path %>
