<h1>Interview Times</h1>

<div class="col-md-1"></div>
<% @interview_times_by_date.each do |date, interviews| %>
    <div class="col-md-3" style="display: inline-block">
      <div class="card">
        <h3><%= date.strftime('%A, %B %d') %></h3>
        <table>
          <tr>
            <th>Interview time</th>
            <th>Who is signed up</th>
          </tr>
          <% interviews.each do |interview| %>
              <tr>
                <td><%= interview.interview_time.strftime('%l:%M %p') %></td>
                <% if interview.rush_interview.user %>
                    <td>
                      <%= interview.rush_interview.user.first_name %> <%= interview.rush_interview.user.last_name %> :
                      <% if interview.rush_interview.user.id == current_user.id %>
                          <%= form_for(interview, :html => { style: 'display: inline-block' }) do |f| %>
                              <%= f.submit 'Drop Time Slot' %>
                          <% end %>
                      <% end %>
                    </td>
                <% else %>
                    <td><%= form_for(interview) do |f| %>
                          <%= f.submit 'Select Time Slot' %>
                      <% end %>
                    </td>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>
      <div class="clear"></div>
    </div>
<% end %>

<br>
<div class="clear"></div>
<br>
<% if current_user.multiple_have_permissions?(['president','first_vp','second_vp','treasurer','sergeant','chaplain','admin']) %>
    <div class="col-md-1"></div>
    <div class="col-md-3" style="display: inline-block">
      <%= link_to 'New Interview time', new_interview_time_path, data: { no_turbolink: true } %>
    </div>
<% end %>