<h1>Listing eboards</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>User</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eboards.each do |eboard| %>
      <tr>
        <td><%= eboard.position_name %></td>
        <td><%= eboard.user_id %></td>
        <td><%= eboard.role %></td>
        <td><%= link_to 'Show', eboard %></td>
        <td><%= link_to 'Edit', edit_eboard_path(eboard) %></td>
        <td><%= link_to 'Destroy', eboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eboard', new_eboard_path %>
