<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @eboard.position_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @eboard.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @eboard.role %>
</p>

<%= link_to 'Edit', edit_eboard_path(@eboard) %> |
<%= link_to 'Back', eboards_path %>
