<%= form_for(@faq_question) do |f| %>
  <% if @faq_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq_question.errors.count, "error") %> prohibited this faq_question from being saved:</h2>

      <ul>
      <% @faq_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content,"", :class => "tinymce", :rows => 15, :cols => 120 %><br>
    <%= f.text_area :content, :class => "tinymce", :rows => 15, :cols => 120 %>
  </div>
  <div class="field">
    <%= f.label :faq_category_id %><br>
    <%= f.collection_select :faq_category_id, FaqCategory.all.order(:title), :id, :title %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= tinymce :plugins => ["wordcount", "paste"] %>
