<body data-no-turbolink="true">
  <%= form_for @post, :html => {:multipart => true} do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.cktext_area :content %>
    </div>

      <div class="field posts_checkboxes" style="float: left">
        <%= hidden_field_tag :published, '' %>
        <%= f.label :published %><br>
        <%= f.check_box :published %>
      </div>

      <div class="field posts_checkboxes" style="float: left; padding-left: 10px;">
        <%= hidden_field_tag :top_card, '' %>
        <%= f.label :top_card %><br> 
        <%= f.check_box :top_card %>
      </div>

      <div class="clear"></div>
      
      <div class="field">
        <%= f.fields_for :image, @post.image do |image_fields| %>
          <%= image_fields.text_field :name, placeholder: 'Picture Name' %><br>
          <%= image_fields.file_field :picture, placeholder: 'Image File' %><br>
          <%= image_fields.text_field :remote_picture_url, placeholder: 'Or input url of photo' %><br>
          <p>Photot Gallery</p>
          <%= image_fields.collection_select :gallery_id, @galleries, :id, :name, :include_blank => true, class: 'col-md-3' %>
      <% end %>
    </div>
  
     <div class="clear"></div>
      <div class="actions" align="center">
        <%= f.submit %>
      </div>
<% end %>
</body>