<h1>Listing receipts</h1>

<table>
  <thead>
    <tr>
      <th>Total spent</th>
      <th>Picture of receipt</th>
      <th>Brother who sumbitted</th>
      <th>Seen receipt</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.total_spent %></td>
        <td><%= receipt.picture_of_receipt %></td>
        <td><%= receipt.brother_who_submitted %></td>
        <td><%= receipt.seen_receipt %></td>
        <td><%= link_to 'Show', receipt %></td>
        <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
        <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_receipt_path %>
