<div class="row">
  <div class="col-md-6 col-md-offset-3 top-card-padding">
    <div class="card">
      <div id="page-wrap">
        <h1>Listing receipts</h1>
        <table class="receipts-table">
          <thead>
          <tr>
            <th>Total spent</th>
            <th>Brother who submitted</th>
            <th>Seen receipt</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @receipts.each do |receipt| %>
              <tr>
                <td><%= receipt.total_spent ? receipt.total_spent : 'N/A' %></td>
                <td><%= receipt.user.last_name ? (receipt.user.first_name + ' ' + receipt.user.last_name): 'N/A' %></td>
                <td><%= receipt.seen_receipt ? 'Yes' : 'No' %></td>
                <td><%= link_to 'Show', receipt %></td>
                <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Receipt', new_receipt_path %>
      </div>
    </div>
  </div>
</div>