<%= form_for(@attendance) do |f| %>
    <% if @attendance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

          <ul>
            <% @attendance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :event %><br>
      <%= f.collection_select :event_id, @events, :id, :name %>
    </div>
    <%= select_tag :user_ids, options_from_collection_for_select(@users, :id, :name, @attendance.users.map{ |u| u.id }), :multiple => true %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
