<%= form_for(@attendance) do |f| %>
    <% if @attendance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

          <ul>
            <% @attendance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% @users.each do |user| %>
        <div class="posts_checkboxes">
          <%= hidden_field_tag 'user_ids[]', nil %>
          <%= check_box_tag 'user_ids[]', user.id, User.where(user_status: ['current brother','coop']).include?(user) %>
          <%= user_name(user) %><br>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
