<p>* Each attendance is created automatically after an event is created</p>
<div class="row">
  <div class="col-xl-8 col-md-8 col-xs-8 col-xl-offset-4 col-md-offset-2 col-xs-offset-2">
    <div class="card">
      <h1>Listing attendances</h1>

      <table>
        <thead>
        <tr>
          <th>Event Name</th>
          <th>Event Date</th>
          <th>Event Required?</th>
          <th>See Who went</th>
          <th>Update</th>
        </tr>
        </thead>

        <tbody>
        <% @attendances.each do |attendance| %>
            <tr>
              <td><%= attendance.event.name %></td>
              <td><%= attendance.event.event_date.strftime('%A, %b %d') %></td>
              <td><%= event_required?(attendance.event) %></td>
              <td><%= link_to 'Show', attendance %></td>
              <td><%= link_to 'Update', edit_attendance_path(attendance) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Attendance', new_attendance_path %>
    </div>
  </div>
</div>