<footer role="contentinfo">
  <nav class="footer-primary">
    <div class="container">
      <div class="brand">
        <a class="logo selected" href="/"><img alt="Phi Kappa Tau" src="http://pktphichapter.org/wp-content/themes/PKTphichapter-201208/images/branding2012-crest.png"></a>
        <div class="body row">
          <div class="brand-body-top">
            <a class="heading selected" href="/" style="margin-right: 4px; margin-left: 45px; margin-top: 25px; margin-bottom: 10px">Phi Kappa Tau</a>
            <br><br>
            <a href="https://www.facebook.com/RITPhiTau" style="margin-left: 41px"><img src="http://www.nationalbeautyinstitute.com/images/facebook.png" style="width:60px;height:60px;"></a>
            <a href="https://twitter.com/gnpkt" style="margin-left: 15px"><img src="http://www.doctordigital.com.ar/main/images/twitter-logo-white.png" style="width:60px;height:60px;"></a>
          </div>
        </div>
      </div>

      <ul class="footer-nav" role="navigation">
        <li>
          <ul>
            <li><h2 style="color: #00A000">Reaching Out</h2></li>
            <li><%= link_to "Contact Us", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
            <li><%= link_to "Alumni News Letters", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><h2 style="color: #00A000">Giving Back</h2></li>
            <li><%= link_to "Volunteer Opportunities", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
            <li><%= link_to "Parents Fund", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><h2 style="color: #00A000">Our Story</h2></li>
            <li><%= link_to "Nation History", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
            <li><%= link_to "National Fast Facts", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
            <li><%= link_to "Local History", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
            <li><%= link_to "Local Fast Facts", root_path, class: "nav-item", :style=>'color:#FFF;' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</footer>