<header role="banner">
  <div class="container" role="navigation">
    <a class="brand selected" href="/">
      <img alt="Phi Kappa Tau" src="http://pktphichapter.org/wp-content/themes/PKTphichapter-201208/images/branding2012-crest.png">
      Phi Kappa Tau
      <br>
      <p style="font-size: 50%; color: #FFF">Learning Leading Serving</p>
    </a>
    <ul class="nav-links">
      <li><%= link_to "Home", root_path, class: "nav-item" %></li>
      <li><%= link_to "About", root_path, class: "nav-item" %></li>
      <li><%= link_to "Information For Students", root_path, class: "nav-item" %></li>
      <li><%= link_to "Information For Parents", root_path, class: "nav-item" %></li>
      <li><%= link_to "FAQ", root_path, class: "nav-item" %></li>
      <li><%= link_to "Contact Us", root_path, class: "nav-item" %></li>
    </ul>
  </div>
</header>