<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="header_img">
        <div>
          <a class="navbar-brand" href="/">
            <img src="http://pktphichapter.org/wp-content/themes/PKTphichapter-201208/images/branding2012-crest.png">
          </a>
        </div>
      </div>
      <div class="phi_tau_text">
        <h1 class="h1-header">Phi Kappa Tau</h1>
        <h3 class="h3-header">Learning Leading Serving</h3>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user == nil or current_user.role == nil or current_user.role == "not_a_member"%>
          <li><%= link_to "Home", root_path, class: "nav-item" %></li>
          <li><%= link_to "About", about_path, class: "nav-item" %></li>
          <li><%= link_to "FAQ", faq_path, class: "nav-item" %></li>
          <li><%= link_to "Contact", contact_us_path, class: "nav-item" %></li>
          <li><%= link_to "News-Letters", alumni_news_letters_path, class: "nav-item" %></li>
        <% else %>
          <li><%= link_to "Home", root_path, class: "nav-item" %></li>
          <% if current_user.role == "writer" or current_user.role == "admin" %>
            <li><%= link_to "Posts", posts_path, class: "nav-item" %></li>
            <li><%= link_to "News-Letters", new_alumni_news_letter_path, class: "nav-item" %></li>
          <% end %>
          <li><%=  link_to "Account", current_user, class: "nav-item"  %></li>
        <% end %>
        <% if user_signed_in?%>
          <li><%= link_to "Sign-out", destroy_user_session_path, :method => :delete, class: "nav-item" %></li>
        <% else %>
          <li><a class="nav-item" href="#openModal">Sign-In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="openModal" class="modalDialog">
  <div style="margin-left: auto; margin-right: auto;">
    <a href="#close" title="Close" class="close">X</a>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div style="padding: 20px 10px 0px 10px"><%= f.text_field :email, :placeholder => "email", :tabindex => 1 %></div>
        <div style="padding: 20px 10px 0px 10px"><%= f.password_field :password, :placeholder => "Password", :tabindex => 2%></div>
        <div style="float: left; padding: 20px 0px 0px 10px"><%= f.submit 'Sign in', :tabindex => 3 %></div>
        <div style="float: left; padding: 23px 50px 0px 15px; font-size: 20px" ><%= link_to "Sign up", new_user_registration_path, "data-no-turbolink" => true %></div>
        <div style="float: none; clear:both;"> </div>
    <% end %>
  </div>
</div>

<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>