<!--Requiered to help scalling-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <div class="header_style">
          <a class="wide img" href="/">
            <!--This fetches the phi tau crest from the stored files-->
            <%= image_tag "phitau_crest.png" %>
          </a>
        </div>
        <div class="header_style">
          <h1 class="phitau_named">Phi Kappa Tau</h1>
          <h3 class="tag_line">Learning Leading Serving</h3>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--This section gives links based of users rights or permissions -->
        <% if current_user == nil or current_user.role == nil or current_user.role == "not_a_member"%>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Contact", contact_us_path %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <% if current_user.role == "writer" %>
            <li><%= link_to "Posts", posts_path, class: "nav-item" %></li>
          <% elsif  current_user.role == "potential new member" %>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Contact", contact_us_path %></li>
          <% elsif  current_user.role == "admin" %>
            <li><%= link_to "Posts", posts_path, class: "nav-item" %></li>
            <li><%= link_to "News-Letters", new_alumni_news_letter_path %></li>
          <% elsif  current_user.role == "president" %>
            <li><%= link_to "Posts", posts_path, class: "nav-item" %></li>
            <li><%= link_to "News-Letters", new_alumni_news_letter_path %></li>
          <% else %>
            <li><%= link_to "News-Letters", alumni_news_letters_path %></li>
          <% end %>
          <li><%=  link_to "Account", current_user  %></li>
        <% end %>
        <% if user_signed_in?%>
          <li><%= link_to "Sign-out", destroy_user_session_path, :method => :delete, class: "nav-item" %></li>
        <% else %>
          <li><%= link_to "Sign-in", new_user_session_path %>
        <% end %>
      </ul>
    </div>
  </div>
</div>