<header role="banner">
  <div class="container" role="navigation">
    <div class="brand selected" style="width: 500px">
      <a  style="color: #FFF;" href="/">
        <img alt="Phi Kappa Tau" src="http://pktphichapter.org/wp-content/themes/PKTphichapter-201208/images/branding2012-crest.png">
       Phi Kappa Tau
      </a>
      <p style="margin-top: -15px; font-size: 1.7rem; color: #FFF ">Learning Leading Serving</p>
    </div>
    <ul class="nav-links">
      <li><%= link_to "Home", root_path, class: "nav-item" %></li>
      <li><%= link_to "About", about_path, class: "nav-item" %></li>
      <li><%= link_to "Students", information_for_students_path, class: "nav-item" %></li>
      <li><%= link_to "Parents", information_for_parents_path, class: "nav-item" %></li>
      <li><%= link_to "FAQ", faq_path, class: "nav-item" %></li>
      <li><%= link_to "Contact", contact_us_path, class: "nav-item" %></li>
    </ul>
  </div>
</header>