<!DOCTYPE html>
<html>
<head>
  <title>Phi Tau Gamma Nu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag "favicon.ico" %>>
</head>

<div id="container">
  <div id="header"><%= render 'layouts/header' %></div>
  <% flash.each do |name, msg| %>
      <% if name == :alert %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
      <% else %>
          <%= content_tag :div, msg, class: "alert notice-info" %>
      <% end %>
  <% end %>
  <div id="body">
    <%= yield %>
  </div>
  <div id="footer"></div>
</div>
</html>


<!--<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->