<!DOCTYPE html>
<html>
<head>
  <title>Phi Tau Gamma Nu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag "favicon.ico" %>>
</head>

<body>
<div id="wrapper">
  <div id="header"><%= render 'layouts/header' %></div>
  <div class="clearfix"></div>
  <% if current_page?(root_url) %>
      <div class="col-xl-8 col-md-8 col-xs-12 col-xl-offset-2 col-md-offset-2">
        <div class="card-temp">
          Come join us for the 50th anniversary this April 1st to the 3rd. For more information <%= link_to 'click here!', fiftieth_info_path%>
        </div>
      </div>
  <% end %>
  <div class="container">
    <% flash.each do |name, msg| %>
        <% if name == :alert %>
            <%= content_tag :div, msg, class: "alert alert-info" %>
        <% else %>
            <%= content_tag :div, msg, class: "alert notice-info" %>
        <% end %>
    <% end %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer"><%= render 'layouts/footer' %></div>
</div>
</body>
</html>


<!--<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->